<h1 class="chatTitle">E-COMMERCE CHAT</h1>

<div class="inputContainer">
  <label for="" class="inputLabel">Escriba su mensaje:</label>
  <input type="text" id="chatInput" class="chatInput" />
</div>

<div class="chatBoxContainer">
  <p id="chatBox"></p>
</div>

<script src="/socket.io/socket.io.js"></script>
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
/>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/toastify-js"
></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/chat.js"></script>