.listContainer{
    text-align: center;
}

.productTable {
    white-space: nowrap;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(0, 0, 0);
    margin: 0 auto;
    background-color: rgb(152, 188, 219);
  }
  
td, tr{
    padding: 15px;
    white-space: nowrap;
    border: 1px solid black;
    font-size: 15px;
  }
  
th {
    padding: 15px;
    text-align: center;
    border: 1px solid black;
    font-size: 20px;
    font-weight: bolder;
  }

.formsContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.form{
    text-align: center;
    background-color: rgb(152, 188, 219);
    padding: 5px;
}

.formLabels{
    display: block;
    text-align: center;
    margin: 10px 0px;
    font-weight: bold;
}

input{
    margin: 0 auto;
    transition: all 0.5s;
}

input:focus{
    transform: scale(1.1);
}

button{
    display: block;
    margin: 10px auto;

}

.chatTitle{
    text-align: center;
}

.inputContainer{
    background-color: rgb(152, 188, 219);
    border-radius: 10px;
    padding: 20px;
}

.chatBoxContainer p {
    font-size: 25px;
    color: black;
    margin-top: 30px;
}

.chatBoxContainer{
    margin-top: 20px;
    background-color: rgb(152, 188, 219);
    border-radius: 10px;
    padding: 20px;
}

.inputLabel{
    margin: 10px;
    display: block;
    font-size: 25px;
}

.chatInput{
    margin: 10px;
}