<div>
    <h1>
        Restablecer contraseña
    </h1>
    <label for="">Ingrese su email</label>
    <input id="emailInput" type="text">
    <label for="">Ingrese su nueva contraseña</label>
    <input type="text" id="passwordInput">
    <button id="sendPasswordButton">Cambiar contraseña</button>
</div>

<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
/>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/toastify-js"
></script>
<script src="/js/passwordChange.js"></script>