<div>
    <h1>
        Ingrese su correo electronico
    </h1>

    <input id="mailInput" type="text">
    <button id="sendMailButton">Enviar Correo</button>

</div>

<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
/>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/toastify-js"
></script>
<script src="/js/sendMail.js"></script>