<div class="loginFormContainer">
    <h1>Ingrese sus datos para ingresar</h1>

    <form id="loginForm" class="loginForm">
        <label class="loginFormLabel"> Email </label>
        <input name="email">

        <label class="loginFormLabel"> Password </label>
        <input name="password">
        <button class="button" type="submit">Ingresar</button>
    </form>

    <div>
        <p>
            Si no posee una cuenta, <a href="/users/register"><strong>Registrarse Aqui!!</strong></a>
        </p>
    </div>

</div>

<script src="/js/login.js"></script>